.header {
  text-align: center;
  background-color: rgb(139, 139, 217);
  padding-bottom: 50px;
  padding-top: 50px;
}

.searchForm {
  height: 35px;
}
#searchbar {
  width: 25%;
  height: 100%;
  border-style: none;
  border-radius: 20px;
  padding-left: 40px;
  background-image: url('../public/sushi.jpg');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 30px, auto, contain
}

#results {
  margin: auto;
  width: 65%;
}

@media screen and (max-width: 1024px) {
  #results {
    margin: auto;
    width: 90%;
  }
}

.restaurantCard {
  height: 300px;
  width : 350px;
  outline: auto;
  margin: 0px 50px 25px 0px;
  display: inline-block;
  overflow: auto;
}

.restaurantCardContent {
  margin: 15px;
}

.restaurantName {
  margin: 0px 0px 10px 0px;
}

#restaurants {
  margin-top: 100px;
  display: inline-block;
}

.item {
  box-shadow: 0px -1px 0 #000;
  padding-top: 10px;
}

.itemName {
  text-align: left;
  width: 80%;
  display: inline-block;
}

.itemPrice {
  text-align: right;
  width: 20%;
  display: inline-block;
}

.itemDescription {
  width: 100%;
  font-style: italic;
}