.header {
  text-align: center;
  background-color: rgb(139, 139, 217);
  padding-bottom: 50px;
  padding-top: 50px;
}

#searchbar {
  width: 25%;
  height: 30px;
  border-style: none;
  border-radius: 20px;
  padding-left: 40px;
  background-image: url('../public/sushi.jpg');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 30px, auto, contain
}

#results {
  margin: auto;
  width: 90%;
}

.restaurantCard {
  height: 200px;
  width : 30%;
  outline: auto;
  margin: 0px 50px 25px 0px;
  display: inline-block;
  text-align: center;
}

#restaurants {
  margin-top: 100px;
}