h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.no-margin {
    margin: 0px;
}

.bold-text {
    font-weight: bold;
}

button {
    height: 100%;
    background-color: transparent;
    font-size: inherit;
    border: none;
    padding: 0;
    vertical-align: top;
}

button:hover {
    background-color: rgb(231, 229, 229);
}

select {
    background-color: transparent;
    border: none;
    border-right: 1px solid black;
    padding-left: 0.5em;
}

select:focus {
    outline: none;
}