.scraper {
    font-size: var(--font-size);
    background-color: var(--background-color-secondary);
    min-height: 100%;
    --input-height: 2.5em;
    --font-size-input: var(--font-size-input-lg);
    font-size: var(--font-size);
}
.scraper-header{
    text-align: center;
}

.scraper-body {
    text-align: left;
    width: 80vw;
    max-width: var(--container-width-m);
    margin: auto;
}
.url-input {
    width: 90%;
    height: 100%;
    display: inline-block;
}
.scraper-btn {
    width: 10%;
    height: 100%;
    display: inline-block;
}

.scraper-preview {
    margin: auto;
    margin-top: 25px;
    width: 80%;
}