.search {
    height: 100%;
    font-size: var(--font-size);
}

.header {
    text-align: center;
    /* background-color: var(--color-theme); */
    background-color: rgb(250, 246, 240);
    overflow: hidden;
    --font-size-input: var(--font-size-input-sm);
    --input-width: 40%;
    --input-height: 2.5em;
    position: relative;
    border-bottom: 1px solid var(--border-color-light);
}

.search-dropdown {
    width: 32%;
    display: inline-block;
    height: 100%;
}

.search-input {
    width: 60%;
    height: 100%;
    display: inline-block;
}

.search-button {
    /* width: var(--button-width-m); */
    width: 8%;
    height: 100%;
    display: inline-block;
}

/* @media screen and (max-width: 500px) {
    .search-button {
        display: none;
    }
} */

#results {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    max-width: var(--container-width-xlg);
    padding: 1.5rem 1rem;
}