.welcome {
    height: 100%;
    box-sizing: border-box;
    padding-top: 20vh;
    font-size: var(--font-size);
    color: var(--color-light);
    background-color: var(--background-color-theme);
    --font-size-input: var(--font-size-input-lg);
    --input-height: 2.5em;
}

.welcome-content {
    box-sizing: border-box;
    max-width: var(--container-width-ml);
    text-align: left;
    margin: auto;
    /* margin-top: 20vh; */
    /* display: inline-block; */
    padding: 1.5rem 1rem;
}

.welcome-dropdown {
    width: 85%;
    height: 100%;
    display: inline-block;
}

.welcome-button {
    width: 15%;
}

.welcome-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}