.nav {
    padding-right: 1rem;
    padding-top: .5rem;
    text-align: right;
}

.nav-btn {
    margin-right: 10px;
    color: var(--color-grey);
    font-size: 0.8em;
}

.nav-btn:hover {
    color: black;
}