/* TODO : figure out how to make last row item not expand if row isn't completely
filled.
https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */

.restaurantCard {
    height: 300px;
    min-width: 300px;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: block;
    flex: 0 0 30%;
    overflow: auto;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .restaurantCard {
        margin-right: 0;
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .restaurantCard {
        flex: 0 0 40%;
    }
}
  
.restaurantHeader {
    margin-bottom: 20px;
}
  
.restaurantCardContent {
    margin: 15px;
}
  
#restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.item {
    box-shadow: 0px -1px 0 #000;
    padding-top: 10px;
}
  
.itemName {
    text-align: left;
    width: 80%;
    display: inline-block;
}
  
.itemPrice {
    text-align: right;
    width: 20%;
    display: inline-block;
}
  
.itemDescription {
    width: 100%;
    font-style: italic;
}