.searchbar {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    border-style: none;
    padding-left: 40px;
    background-image: url('../../../public/search_icon.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: 30px, auto, contain;
    border-right: 1px solid var(--border-color-light);
    color: var(--color-dark);
}